{% extends 'core/base.html' %}
{% load static %}

{% block head %}
    {% comment %} <script type="module" src="{% static 'core/js/main.js' %}"></script> {% endcomment %}
{% endblock head %}

    {% block content %}
        <header class="app-header" style="padding-top: 3rem;">
            <h1>BMACopilot</h1>
            <p class="app-description">
                AI powered bone marrow aspirate differentials
            </p>
        </header>

        <div id="mainContent" class="d-flex flex-column justify-content-center align-items-center" style="min-height: 50vh;">

            <div class="card-cotainer">

                <div class="row g-4 mb-5 d-flex" style="justify-content: space-around;">

                    {% comment %} CARD 1 {% endcomment %}
                    <div class="col-md-3 d-flex">
                        <div class="custom-card w-100">
                            <i class="fas fa-microscope card-icon"></i>
                            <div class="card-content">
                                <h4>Live Microscope Sharing</h4>
                                <p>Share your microscope camera in the app.</p>
                            </div>
                        </div>
                    </div>

                    {% comment %} CARD 2 {% endcomment %}
                    <div class="col-md-3 d-flex">
                        <div class="custom-card w-100">
                            <i class="fas fa-upload card-icon"></i>
                            <div class="card-content">
                                <h4>Upload for AI Processing</h4>
                                <p>Submit selected recording for AI-powered cell detection and classification.</p>
                            </div>
                        </div>
                    </div>

                    {% comment %} CARD 3 {% endcomment %}
                    <div class="col-md-3 d-flex">
                        <div class="custom-card w-100">
                            <i class="fas fa-check-circle card-icon"></i>
                            <div class="card-content">
                                <h4>Review & Refine</h4>
                                <p>Analyze, update, and save the results.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div>
                <a href="{% url 'microscope-viewer' %}" class="btn btn-tertiary">
                    Try it yourself
                    <i class="fa-solid fa-angle-right"></i>
                </a>
            </div>

        </div>

    {% endblock content %}
