{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block head %}
<style>
    .container {
        display: flex;
    }

    .sidbar-wrapper {
        position: relative;
    }

    .sidebar {
        width: 250px;
        background: #f0ebf8;
        padding: 20px;
        height: 100vh;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

        position: sticky;
        top: 64px;
        height: calv(100vh - 64px);
        {% comment %} height: calc(100vh - 64px); {% endcomment %}
        {% comment %} overflow-y: auto; {% endcomment %}
    }
    
    .sidebar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        font-size: 18px;
    }
    
    .menu-toggle {
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }
    
    .sidebar-section h3 {
        font-size: 16px;
        color: #5a3ea3;
        margin-top: 10px;
    }
    
    .sidebar-section ul {
        list-style: none;
        padding: 0;
    }
    
    .sidebar-section ul li {
        background: white;
        padding: 8px;
        margin: 5px 0;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
    }
    
    .content {
        flex: 1;
        padding: 20px;
        text-align: center;
    }

    .classification-header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .classification-title {
        font-size: 24px;
        color: #4a2f93;
        text-align: center;
    }

    .case-status {
        position: absolute;
        right: 20px;
        font-size: 16px;
        font-weight: bold;
        color:rgb(40, 25, 78)
    }
    
    .cell-classification {
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }
    
    .cell-images {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
        {% comment %} justify-content: center; {% endcomment %}
        gap: 10px;
        padding: 1rem;
    }
    
    .cell-images img {
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
    }

    .cell-name {
        flex-grow: 1;
        text-align: left;
    }

    .percent {
        text-align: right;
        min-width: 50px;
        margin-left: 10px;
    }
    
    .percentage {
        margin-top: 10px;
        font-weight: bold;
        color: #4a2f93;
    }

    .cell-link {
        {% comment %} display: flex; {% endcomment %}
        {% comment %} justify-content: space-between;
        min-width: max-content; {% endcomment %}
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .cell-link a {
        text-decoration: none;
        color: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .cell-link:hover {
        transform: scale(1.05);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
    }

    {% comment %} .cell-anchor:target::before {
        content: "";
        display: block;
        height: 75px;
        margin-top: -100px;
    } {% endcomment %}

    .cell-anchor {
        height: 0;
        overflow: hidden;
    }
</style>
<script type="module">
    import { startTour } from "{% static 'core/js/Tour.js' %}";

    document.addEventListener("DOMContentLoaded", () => {

        if (!localStorage.getItem('tourCompleted')) {
            startTour();
        }

        // Attach the tour to the Help button in the navbar
        const helpButton = document.getElementById("help");
        if (helpButton) {
            helpButton.addEventListener("click", function () {
                startTour();
            });
        }
        
    });
</script>
<script src="{% static 'core/js/Cell.js' %}"></script>
<script src="{% static 'core/js/Case.js' %}"></script>
{% endblock head %}

{% block content %}

    <div class="container">
        
        <aside class="sidebar">
            <div class="sidebar-header">
                <h2>Summary</h2>
                {% comment %} <button class="menu-toggle">XX</button> {% endcomment %}
            </div>

            {% comment %} <div class="sidebar-section">
                <h3>Annotated Regions</h3>
            </div> {% endcomment %}
            <div class="sidebar-section">
                <h3>Differential Count</h3>
                <h5>Cell Total: {{ cell_total }}</h5>
                <ul>
                    {% for cell_type, percentage in diff_counts.items %}
                        <li class="cell-link">
                            <a href="#{{ cell_type }}_anchor">
                                <span class="cell-name">{{ cell_type|replace:"_ "|title }}</span>
                                <span id="{{ cell_type }}_percent" class="percent">
                                    {{ percentage }}%
                                </span>
                            </a>
                        </li>
                    {% endfor %}

                    <li class="mt-3 cell-link">
                        <a href="#skippocytes">
                            <span class="cell-name">Skippocytes</span>
                            <span id="{{ skippocytes }}_percent" class="percent">
                                {{ skippocytes_counts }}
                            </span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="sidebar-section">
                <h3>Close Case</h3>
                {% if case.case_status == 'completed' or case.case_status == 'archived' %}
                    <button id="closeCase" class="btn btn-case w-100 d-flex justify-content-center" data-case-id="{{ case.case_id }}" data-status="completed" disabled>
                        Case Closed
                    </button>
                {% else %}
                    <button id="closeCase" class="btn btn-case w-100 d-flex justify-content-center" data-case-id="{{ case.case_id }}" data-status="completed">
                        Close Case
                    </button>
                {% endif %}
            </div>
        </aside>

        <div class="content">
            <div class="classification-header">
                <h2 id="cellTitle" class='classification-title'>
                    Cell Classifications
                    {% if case.case_status == 'completed' %}
                        <span id="caseStatus" class='case-status'>Completed</span>
                    {% elif case.case_status == 'archived' %}
                        <span id="caseStatus" class='case-status'>Archived</span>
                    {% endif %}
                </h2>
            </div>

            <div class="cell-classification-container">
                {% for class_name in cell_order %}
                    {% if class_name in cell_groups %}
                        <div id="{{ class_name }}_anchor" class="cell-anchor"></div>
                        <section id="{{ class_name }}" class="cell-classification" data-class="{{ class_name }}">
                            <h3>{{ class_name|replace:"_ "|title }}</h3>
                            <div class="cell-images">
                                {% with cell_groups|get_item:class_name as cells %}        
                                    {% for cell in cells %}
                                        {% if cell.image_url %}
                                            <div 
                                                class="cell-image"
                                                data-ai-class="{{ cell.ai_class }}"
                                                data-user-class="{{ cell.user_class }}"
                                                data-class="{{ class_name }}" 
                                                data-id="{{ cell.cell_id }}"
                                            >
                                                <img src="{{ cell.image_url }}" alt="{{ class_name }}">
                                            </div>
                                        {% else %}
                                            <div style="width: 100px; height: 100px; background-color: #808080"></div>
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </section>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function() {

            {% if case.case_status != 'completed' and case.case_status != 'archived' %}
                $('.cell-image').each(function() {
                    Cell.cellItemClickHandler(this);
                });
            {% endif %}

            $('#closeCase').on('click', function() {
                $(this).prop('disabled', true).text('Updating...')
                let case_id = $(this).data('case-id');
                let status = $(this).data('status');
                Case.updateCaseStatus(case_id, status);
            });
            
            // Add smooth scrolling for anchor links
            $('.sidebar a[href^="#"]').on('click', function(e) {
                e.preventDefault();
                
                // Get the target element ID without the #
                const targetId = this.getAttribute('href').slice(1);
                const target = document.getElementById(targetId);
                
                if (target) {
                    const navbarHeight = $('#navBar').outerHeight();
                    const offset = target.offsetTop - navbarHeight - 20; // 20px extra padding
                    
                    $('html, body').animate({
                        scrollTop: offset
                    }, 500);
                }
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".cell-image img").forEach((img) => {
                img.onload = function () {
                    let parentDiv = img.closest(".cell-image");
                    let aiClass = parentDiv.dataset.aiClass;
                    let userClass = parentDiv.dataset.userClass;
        
                    if (aiClass !== userClass) {
                        parentDiv.classList.add("changed");
                    }
                };
            });
        });

    </script>

{% endblock content %}

